<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-arrow></app-back-arrow>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="card-container">
  <ion-card (click)="navigateToChangeName()" class="card-item">
    <ion-card-header>
      <ion-card-title>Cambiar Nombre</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aquí puedes cambiar tu nombre de usuario.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="navigateToChangePassword()" class="card-item">
    <ion-card-header>
      <ion-card-title>Cambiar Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aquí puedes cambiar tu contraseña.
    </ion-card-content>
  </ion-card>
</ion-content>


