<ion-header>
  <ion-toolbar>
    <ion-title>Gráficos de Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-container">

    <!-- Card para el gráfico de barras -->
    <ion-card *ngIf="hasSales || productos.length > 0">
      <ion-card-header>
        <ion-card-title>Gráfico de Ventas por Producto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="chart-container">
          <canvas id="barChart"></canvas>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Card para el gráfico de pastel -->
    <ion-card *ngIf="hasSales || productos.length > 0">
      <ion-card-header>
        <ion-card-title>Distribución de Ventas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="chart-container">
          <canvas id="pieChart"></canvas>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
