<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-arrow></app-back-arrow>
    </ion-buttons>
    <ion-title>configuracion</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="container">
    <ion-item class="theme-toggle-item">
      <ion-label>{{ darkMode ? 'Activar modo claro' : 'Activar modo oscuro' }}</ion-label>
      <ion-toggle 
        [(ngModel)]="darkMode" 
        (ionChange)="toggleTheme($event)">
      </ion-toggle>
    </ion-item>
  </div>
</ion-content>
