<ion-content>
  <div class="container">
    <ion-card>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Nombre del Producto</ion-label>
          <ion-input formControlName="nombre" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Clase</ion-label>
          <ion-select formControlName="clase" required>
            <ion-select-option value="electrodomestico">Electrodoméstico</ion-select-option>
            <ion-select-option value="muebles">Muebles</ion-select-option>
            <ion-select-option value="menaje_hogar">Menaje Hogar</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Marca</ion-label>
          <ion-input formControlName="marca" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Precio Compra</ion-label>
          <ion-input type="number" formControlName="precioCompra" min="0" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Precio Venta</ion-label>
          <ion-input type="number" formControlName="precioVenta" min="0" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Cantidad en Stock</ion-label>
          <ion-input type="number" formControlName="cantidad" min="0" required></ion-input>
        </ion-item>

        <div *ngIf="imageUrl" class="image-container">
          <img [src]="imageUrl" alt="Imagen del producto" class="product-image" />
        </div>

        <ion-button expand="full" type="submit" color="success">Actualizar Producto</ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
