<ion-menu contentId="main-content" side="start" menuId="first" class="my-custom-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Bienvenido {{ username }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="menu-content">
      <ion-list>
        <ion-item routerLink="/perfil" (click)="closeMenu()">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item routerLink="/configuracion" (click)="closeMenu()">
          <ion-icon slot="start" name="settings"></ion-icon>
          <ion-label>Configuraciones</ion-label>
        </ion-item>
      </ion-list>

      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <ion-button expand="full" color="danger" (click)="logout()">
            Cerrar Sesión
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </div>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Lista de productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="page-content ion-padding">
    <div *ngIf="productos.length > 0; else noProducts">
      <ion-list>
        <ion-item *ngFor="let producto of productos" class="product-card">
          <ion-thumbnail slot="start">
            <img *ngIf="producto.imagen" [src]="producto.imagen" alt="{{ producto.nombre }}" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ producto.nombre }}</h2>
            <h3>{{ producto.clase }}</h3>
            <p><strong>Marca:</strong> {{ producto.marca }}</p>
            <p><strong>Precio de Compra:</strong> {{ producto.precioCompra | currency }}</p>
            <p><strong>Precio de Venta:</strong> {{ producto.precioVenta | currency }}</p>
            <p><strong>Cantidad:</strong> {{ producto.cantidad }}</p>
            <ion-button color="danger" (click)="eliminarProducto(producto); $event.stopPropagation()">Eliminar</ion-button>
            <ion-button color="success" (click)="venderProducto(producto); $event.stopPropagation()">Vender 1</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <ng-template #noProducts>
      <div class="no-products-container">
        <ion-icon name="sad" class="no-products-icon"></ion-icon>
        <p>No hay productos registrados.</p>
      </div>
    </ng-template>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="irARegistrarProducto()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
