

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que el contenido se distribuya entre la parte superior e inferior */
  height: 100%;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que los elementos se distribuyan verticalmente */
  height: 100%;
  padding: 16px; /* Ajusta el padding si es necesario */
}

ion-footer {
  margin-top: auto; /* Asegura que el footer se empuje al final del contenedor */
}

/* Personalizar el botón flotante */
ion-fab-button {
  background-color: #3880ff; /* Color del botón */
  color: white; /* Color del ícono */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el botón */
}

ion-fab-button:hover {
  background-color: #3171e0; /* Color del botón al pasar el cursor */
}

ion-fab-button:active {
  background-color: #1e60c4; /* Color del botón cuando se presiona */
}


