

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que el contenido se distribuya entre la parte superior e inferior */
  height: 100%;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que los elementos se distribuyan verticalmente */
  height: 100%;
  padding: 16px; /* Ajusta el padding si es necesario */
}

ion-footer {
  margin-top: auto; /* Asegura que el footer se empuje al final del contenedor */
}



