/* Asegura que el ion-content no tape el fondo */
ion-content {
  --background: transparent; /* Fondo transparente para que el contenido no tape el fondo */
  display: flex;
  flex-direction: column;
  height: 100%; /* Asegura que el contenido ocupe toda la altura disponible */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

/* Estilo para el menú */
.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye los elementos verticalmente en el menú */
  height: 100%; /* Asegura que el contenido del menú ocupe toda la altura disponible */
  padding: 16px; /* Ajusta el padding alrededor del contenido del menú */
}

/* Asegura que el pie de página se mantenga al final del contenedor */
ion-footer {
  margin-top: auto; /* Empuja el footer al final del menú */
}

/* Animaciones personalizadas */
@keyframes slideIn {
  0% {
    transform: translateX(-100%); /* Inicia el elemento fuera de la vista en el eje X */
    opacity: 0; /* Inicia con opacidad 0 */
  }
  100% {
    transform: translateX(0); /* Mueve el elemento a su posición original en el eje X */
    opacity: 1; /* Finaliza con opacidad 1 */
  }
}

.page-content {
  ion-list {
    padding: 10px;
  }

  .product-container {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .product-thumbnail {
    width: 150px;  /* Aumentar el tamaño de la imagen */
    height: 150px; /* Aumentar el tamaño de la imagen */
    overflow: hidden;
    border-radius: 10px;
    margin-right: 15px;
  }

  .product-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen se ajuste sin deformarse */
  }

  .product-details {
    display: flex;
    flex-direction: column;
  }

  ion-card {
    margin-bottom: 15px;
    display: flex; /* Permite la disposición en flex */
    align-items: center; /* Centra verticalmente el contenido */
    padding: 10px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    background: white; /* Fondo blanco para las tarjetas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de elevación */
  }

  ion-card ion-label {
    flex: 1; /* Permite que el texto ocupe el espacio restante */
    padding-left: 10px; /* Espaciado entre imagen y texto */
  }

  .no-products-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 70vh; /* Ajusta la altura según sea necesario */
    text-align: center; /* Centra el texto */
    color: #000000; /* Color del texto */
  }
  
  .no-products-icon {
    font-size: 50px; /* Tamaño del icono */
    margin-bottom: 15px; /* Espaciado debajo del icono */
  }
  
  .no-products-container p {
    font-weight: bold; /* Hace el texto más grueso */
    font-size: 18px; /* Ajusta el tamaño de la fuente si es necesario */
  }
  
  
}
