<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-arrow></app-back-arrow>
    </ion-buttons>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Formulario de Producto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <!-- Nombre del Producto -->
          <ion-item>
            <ion-label position="floating">Nombre del Producto</ion-label>
            <ion-input formControlName="nombre" type="text" required></ion-input>
          </ion-item>

          <!-- Clase del Producto -->
          <ion-item>
            <ion-label>Clase</ion-label>
            <ion-select formControlName="clase" required>
              <ion-select-option value="electrodomestico">Electrodoméstico</ion-select-option>
              <ion-select-option value="muebles">Muebles</ion-select-option>
              <ion-select-option value="menaje_hogar">Menaje Hogar</ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Marca del Producto -->
          <ion-item>
            <ion-label position="floating">Marca</ion-label>
            <ion-input formControlName="marca" type="text" required></ion-input>
          </ion-item>

          <!-- Precio Compra -->
          <ion-item>
            <ion-label position="floating">Precio Compra</ion-label>
            <ion-input formControlName="precioCompra" type="number" min="0" required></ion-input>
          </ion-item>

          <!-- Precio Venta -->
          <ion-item>
            <ion-label position="floating">Precio Venta</ion-label>
            <ion-input formControlName="precioVenta" type="number" min="0" required></ion-input>
          </ion-item>

          <!-- Cantidad en Stock -->
          <ion-item>
            <ion-label position="floating">Cantidad Stock</ion-label>
            <ion-input formControlName="cantidad" type="number" min="0" required></ion-input>
          </ion-item>

          <!-- Botón para capturar una foto -->
          <ion-item>
            <ion-button expand="full" color="primary" (click)="takePicture()" fill="outline">
              <ion-icon slot="start" name="camera"></ion-icon>
              Tomar Foto
            </ion-button>
          </ion-item>

          <!-- Botón para subir una foto desde la galería -->
          <ion-item>
            <ion-button expand="full" color="secondary" (click)="uploadPicture()" fill="outline">
              <ion-icon slot="start" name="images"></ion-icon>
              Subir Foto desde Galería
            </ion-button>
          </ion-item>

          <!-- Mostrar la imagen seleccionada -->
          <div *ngIf="imageUrl" style="text-align: center; margin: 10px 0;">
            <img [src]="imageUrl" alt="Imagen del producto" style="max-width: 80%; height: auto;" />
          </div>

          <!-- Botón para Enviar el Formulario -->
          <ion-button expand="full" type="submit" [disabled]="!productForm.valid">Agregar Producto</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
